@import './_variables';
@import './_fonts';
@import './_tools';
@import './_buttons';

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  body & {
    margin: 0;
  }
}

body {
  background: #000;
}

.markdown {
  @import './markdown';

  font-size: 25px;

  body {
    padding: 10px;
  }

  p {
    code {
      margin: 0 !important;
      padding: 0;
      background: none;
      border: 0;
      font-weight: bold;
      color: rgb(255, 250, 25);
      font-family: inherit;
      font-size: inherit;
    }
  }
}